body {
  font-family: "Lora", serif;
}
.widget {
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 3px 3px 3px 0.3px rgba(0, 0, 0, 0.3);
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 20px;
  text-transform: capitalize;
}
.search {
  margin-top: 10px;
  display: inline;
  border: 2px solid black;
  border-radius: 10px;
}
.form {
  display: inline;
}
.emojis {
  font-size: 40px;
  transition: all 200ms ease-in-out;
}
.emojis:hover {
  opacity: 0.9;
  transform: scale(1.2);
}
.footer {
  text-align: center;
  margin-top: -20px;
}
.geoButton {
  display: inline;
  border: 2px solid black;
  border-radius: 10px;
}
.temp {
  display: inline;
  font-size: 25px;
}
